body {
    background-color: #222831;
    font-family: 'Pirata One', cursive;
}
h1 {
    letter-spacing: 2px;
    color: #f1f8fd;
}
h2 {
    color: #f6c667;
    letter-spacing: 2px;
}

button {
    font-family: 'Pirata One', cursive;
    letter-spacing: 2px;
    width: 8rem;
    padding: 0.4rem;
    background-color: #f1f8fd;
    margin: 4px;
    border-radius: 5px;
    color: #393e46;
}
button:disabled {
    background-color: #5b6370;
}
button:hover {
    background-color:  #5b6370;
}

button > * {
    pointer-events: none;
  }

.centered {
    text-align: center;
    align-items: center;
    padding: 1rem;
}
.gridcontainer {
    margin: 0 auto;
    border: 4px solid #f6c667;
    border-radius: 5px;
    width: 304px;
    justify-items: stretch ;
    display: grid;
    background-color: #393e46;
    color: #393e46 ;
    grid-template-columns: repeat(3, 5rem);
    grid-template-rows: repeat(3, 5rem);
    column-gap: 2rem;
    row-gap: 2rem;
}
.markplacement {
    background-color: #f6c667;
    padding: 20px;
}
.markplacement:hover {
    background-color: #fbe9c4;
}
#reset {
    margin: 2rem;
    font-size: 2em;
}
#reset:focus {
    border: none;
}